In [2]:
import pandas as pd
import numpy as np
import glob

### Carregando as bases de dados manipuladas n2

In [9]:
df_carga : pd.DataFrame = pd.read_csv('./data/checkpoints/df_carga_v1.csv',sep=	';')
df_clima : pd.DataFrame = pd.read_csv('./data/checkpoints/df_clima_grouped_mean.csv')

print(df_carga.shape, df_clima.shape)

(89326, 10) (637008, 12)

In [11]:
df_carga.head(2)

,Unnamed: 0,id_subsistema,nom_subsistema,din_instante,val_cargaenergiahomwmed,year,month,day,hour,date
0,3,SE,SUDESTE,2012-01-01 00:00:00,28212.46,2012,1,1,0,2012-01-01
1,7,SE,SUDESTE,2012-01-01 01:00:00,27511.77,2012,1,1,1,2012-01-01

In [10]:
df_clima.head(2)

,Unnamed: 0,data_medicao,hora_medicao,data-hora,precipitacao_total,pressao_atmosferica,radiacao_global,temperatura_ar,temperatura_ponto_carvalho,umidade_relativa_ar,vento_direcao,velocidade_vento
0,0,2012-01-01,0,2012-01-01 00:00:00,0.0,938.7,-3.496,22.6,20.4,88.0,41.0,2.1
1,1,2012-01-01,1,2012-01-01 01:00:00,0.0,938.9,-3.517,21.9,20.0,89.0,73.0,0.3

In [18]:
## Checando a unicidade dos registros
df_clima[df_clima['data-hora'] == '2021-12-31 22:00:00']

,Unnamed: 0,data_medicao,hora_medicao,data-hora,precipitacao_total,pressao_atmosferica,radiacao_global,temperatura_ar,temperatura_ponto_carvalho,umidade_relativa_ar,vento_direcao,velocidade_vento
87670,87670,2021-12-31,22,2021-12-31 22:00:00,0.0,937.8,3.264,24.0,19.0,74.0,321.0,0.1
175342,175342,2021-12-31,22,2021-12-31 22:00:00,0.0,1006.2,27.450,23.4,23.4,100.0,86.0,0.4
263014,263014,2021-12-31,22,2021-12-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350686,350686,2021-12-31,22,2021-12-31 22:00:00,0.0,923.0,396.683,21.4,19.6,90.0,237.0,0.0
438358,438358,2021-12-31,22,2021-12-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526030,526030,2021-12-31,22,2021-12-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566734,566734,2021-12-31,22,2021-12-31 22:00:00,0.0,948.4,219.664,24.7,19.9,75.0,48.0,1.4
637006,637006,2021-12-31,22,2021-12-31 22:00:00,0.6,878.5,9.571,17.3,15.3,88.0,35.0,5.0

In [17]:
## Unindo as bases de dados
df_full : pd.DataFrame = pd.merge(df_carga, df_clima, right_on='data-hora', left_on='din_instante', how='inner')

df_full_v1 : pd.DataFrame = df_full[['data_medicao','hora_medicao','data-hora','precipitacao_total','pressao_atmosferica',
    'radiacao_global','temperatura_ar','temperatura_ponto_carvalho','umidade_relativa_ar','vento_direcao','velocidade_vento',
    'id_subsistema','nom_subsistema','din_instante','val_cargaenergiahomwmed'
    ]]
df_full_v1.head(10)

,data_medicao,hora_medicao,data-hora,precipitacao_total,pressao_atmosferica,radiacao_global,temperatura_ar,temperatura_ponto_carvalho,umidade_relativa_ar,vento_direcao,velocidade_vento,id_subsistema,nom_subsistema,din_instante,val_cargaenergiahomwmed
0,2012-01-01,0,2012-01-01 00:00:00,0.0,938.7,-3.496,22.6,20.4,88.0,41.0,2.1,SE,SUDESTE,2012-01-01 00:00:00,28212.46
1,2012-01-01,0,2012-01-01 00:00:00,2.4,1007.3,-2.854,22.9,NaN,NaN,102.0,4.3,SE,SUDESTE,2012-01-01 00:00:00,28212.46
2,2012-01-01,0,2012-01-01 00:00:00,1.8,940.5,-2.285,21.2,20.0,93.0,187.0,0.8,SE,SUDESTE,2012-01-01 00:00:00,28212.46
3,2012-01-01,0,2012-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SE,SUDESTE,2012-01-01 00:00:00,28212.46
4,2012-01-01,0,2012-01-01 00:00:00,0.0,937.3,-3.409,22.5,20.4,88.0,74.0,0.2,SE,SUDESTE,2012-01-01 00:00:00,28212.46
5,2012-01-01,0,2012-01-01 00:00:00,0.2,912.3,-2.215,19.3,18.0,92.0,75.0,0.0,SE,SUDESTE,2012-01-01 00:00:00,28212.46
6,2012-01-01,1,2012-01-01 01:00:00,0.0,938.9,-3.517,21.9,20.0,89.0,73.0,0.3,SE,SUDESTE,2012-01-01 01:00:00,27511.77
7,2012-01-01,1,2012-01-01 01:00:00,1.6,1007.6,-2.053,22.5,NaN,NaN,98.0,2.2,SE,SUDESTE,2012-01-01 01:00:00,27511.77
8,2012-01-01,1,2012-01-01 01:00:00,1.6,940.5,-1.443,20.6,19.5,94.0,195.0,0.0,SE,SUDESTE,2012-01-01 01:00:00,27511.77
9,2012-01-01,1,2012-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SE,SUDESTE,2012-01-01 01:00:00,27511.77