In [110]:
import pandas as pd
import numpy as np
import glob

### Carregando as bases de dados manipuladas n1

In [111]:
df_carga : pd.DataFrame = pd.read_csv('./data/checkpoints/df_carga_v1.csv',sep=	';')
df_clima : pd.DataFrame = pd.read_csv('./data/checkpoints/df_wheather_v1.csv',sep=	';')

df_clima.head()

,Unnamed: 0,Data Medicao,Hora Medicao,"PRECIPITACAO TOTAL, HORARIO(mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA(mB)","PRESSAO ATMOSFERICA REDUZIDA NIVEL DO MAR, AUT(mB)",PRESSAO ATMOSFERICA MAX.NA HORA ANT. (AUT)(mB),PRESSAO ATMOSFERICA MIN. NA HORA ANT. (AUT)(mB),RADIACAO GLOBAL(Kj/m²),TEMPERATURA DA CPU DA ESTACAO(°C),...,TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT)(°C),TENSAO DA BATERIA DA ESTACAO(V),UMIDADE REL. MAX. NA HORA ANT. (AUT)(%),UMIDADE REL. MIN. NA HORA ANT. (AUT)(%),"UMIDADE RELATIVA DO AR, HORARIA(%)","VENTO, DIRECAO HORARIA (gr)(° (gr))","VENTO, RAJADA MAXIMA(m/s)","VENTO, VELOCIDADE HORARIA(m/s)",Unnamed: 22,year
0,17520,2012-01-01,0,0,"938,7","1011,673741","938,7","938,3","-3,496",24.0,...,"20,4",12,90.0,87.0,88.0,41.0,"2,8","2,1",NaN,2012
1,17521,2012-01-01,1,0,"938,9","1012,069033",939,"938,7","-3,517",24.0,...,20,12,90.0,87.0,89.0,73.0,"2,1",",3",NaN,2012
2,17522,2012-01-01,2,0,"938,9","1011,966214",939,"938,8","-3,358",23.0,...,20,"11,9",91.0,89.0,89.0,249.0,",7",",5",NaN,2012
3,17523,2012-01-01,3,0,"938,4","1011,376029","938,9","938,4","-3,177",23.0,...,"19,6","11,9",89.0,84.0,84.0,246.0,",6",",3",NaN,2012
4,17524,2012-01-01,4,",4",938,"1011,176126","938,4",938,"-3,383",23.0,...,"19,6","11,9",93.0,84.0,93.0,329.0,",5",",1",NaN,2012

In [112]:
## Realizando o cálculo dos dados médios
df_clima['data-hora'] = df_clima['Data Medicao'] + ' ' + df_clima['Hora Medicao'].astype(str)

df_clima['data-hora'] = pd.to_datetime(df_clima['Data Medicao'] + df_clima['Hora Medicao'].astype(str), format='%Y-%m-%d%H')
df_clima.tail()

,Unnamed: 0,Data Medicao,Hora Medicao,"PRECIPITACAO TOTAL, HORARIO(mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA(mB)","PRESSAO ATMOSFERICA REDUZIDA NIVEL DO MAR, AUT(mB)",PRESSAO ATMOSFERICA MAX.NA HORA ANT. (AUT)(mB),PRESSAO ATMOSFERICA MIN. NA HORA ANT. (AUT)(mB),RADIACAO GLOBAL(Kj/m²),TEMPERATURA DA CPU DA ESTACAO(°C),...,TENSAO DA BATERIA DA ESTACAO(V),UMIDADE REL. MAX. NA HORA ANT. (AUT)(%),UMIDADE REL. MIN. NA HORA ANT. (AUT)(%),"UMIDADE RELATIVA DO AR, HORARIA(%)","VENTO, DIRECAO HORARIA (gr)(° (gr))","VENTO, RAJADA MAXIMA(m/s)","VENTO, VELOCIDADE HORARIA(m/s)",Unnamed: 22,year,data-hora
637003,742123,2021-12-31,19,0,"877,4","1011,776218","877,7","877,4","641,046",20.0,...,"14,4",89.0,87.0,87.0,44.0,"9,7","4,8",NaN,2021,2021-12-31 19:00:00
637004,742124,2021-12-31,20,0,"877,6","1012,155403","877,6","877,2","431,974",21.0,...,"13,5",87.0,85.0,87.0,40.0,"8,9","4,9",NaN,2021,2021-12-31 20:00:00
637005,742125,2021-12-31,21,",4","877,8","1012,534984","877,8","877,5","138,383",20.0,...,"13,3",88.0,87.0,87.0,54.0,9,6,NaN,2021,2021-12-31 21:00:00
637006,742126,2021-12-31,22,",6","878,5","1013,591552","878,5","877,7","9,571",20.0,...,"12,7",88.0,87.0,88.0,35.0,12,5,NaN,2021,2021-12-31 22:00:00
637007,742127,2021-12-31,23,",2","878,8","1013,987637","878,8","878,5",0,19.0,...,"12,6",89.0,88.0,89.0,44.0,"8,8",5,NaN,2021,2021-12-31 23:00:00

In [113]:
# Renomeando as colunas
df_clima_renamed : pd.DataFrame = df_clima.copy()
df_clima_renamed.rename(
columns={
    'PRECIPITACAO TOTAL, HORARIO(mm)':'precipitacao_total',
    'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA(mB)':'pressao_atmosferica',
    'RADIACAO GLOBAL(Kj/m²)':'radiacao_global',
    'TEMPERATURA DO AR - BULBO SECO, HORARIA(°C)':'temperatura_ar',
    'TEMPERATURA DO PONTO DE ORVALHO(°C)':'temperatura_ponto_carvalho',
    'UMIDADE RELATIVA DO AR, HORARIA(%)':'umidade_relativa_ar',
    'VENTO, DIRECAO HORARIA (gr)(° (gr))':'vento_direcao',
    'VENTO, VELOCIDADE HORARIA(m/s)':'velocidade_vento',
    'Data Medicao':'data_medicao',
    'Hora Medicao':'hora_medicao',
}, inplace=True)

df_clima_renamed : pd.DataFrame = df_clima_renamed[['data_medicao','hora_medicao','data-hora','precipitacao_total','pressao_atmosferica','radiacao_global','temperatura_ar','temperatura_ponto_carvalho','umidade_relativa_ar','vento_direcao','velocidade_vento']]
df_clima_renamed.head()

,data_medicao,hora_medicao,data-hora,precipitacao_total,pressao_atmosferica,radiacao_global,temperatura_ar,temperatura_ponto_carvalho,umidade_relativa_ar,vento_direcao,velocidade_vento
0,2012-01-01,0,2012-01-01 00:00:00,0,"938,7","-3,496","22,6","20,4",88.0,41.0,"2,1"
1,2012-01-01,1,2012-01-01 01:00:00,0,"938,9","-3,517","21,9",20,89.0,73.0,",3"
2,2012-01-01,2,2012-01-01 02:00:00,0,"938,9","-3,358","22,3","20,4",89.0,249.0,",5"
3,2012-01-01,3,2012-01-01 03:00:00,0,"938,4","-3,177","22,5","19,6",84.0,246.0,",3"
4,2012-01-01,4,2012-01-01 04:00:00,",4",938,"-3,383","21,6","20,4",93.0,329.0,",1"

In [114]:
def ajust_corrupted_float_value(value : str) -> float:
    """
    Função para corrigir valores com ponto flutuante que não estão no formato correto.

    Parameters
    ----------
    value : str
        Valor a ser corrigido.

    Returns
    -------
    float
        Valor corrigido.
    """
    try:
        value : str = str(value)
        if ',' in value:
            value : str = value.replace(',', '.')
        return float(value)
    except ValueError:
        if value[0] == ',':
            value : str = '0' + value
            value : float = float(value)
        else:
            raise ValueError("Erro ao converter precipitacao_total : Situação não prevista")
            
        return value

In [115]:
## Ajustando os valores não inteiros de precipitacao_total
df_clima_renamed['precipitacao_total'] = df_clima_renamed.apply(lambda x: ajust_corrupted_float_value(x['precipitacao_total']), axis=1)
df_clima_renamed['velocidade_vento'] = df_clima_renamed.apply(lambda x: ajust_corrupted_float_value(x['velocidade_vento']), axis=1)

In [116]:
df_clima_renamed['pressao_atmosferica'] = df_clima_renamed.apply(lambda x: ajust_corrupted_float_value(x['pressao_atmosferica']), axis=1)
df_clima_renamed['radiacao_global'] = df_clima_renamed.apply(lambda x: ajust_corrupted_float_value(x['radiacao_global']), axis=1)
df_clima_renamed['temperatura_ar'] = df_clima_renamed.apply(lambda x: ajust_corrupted_float_value(x['temperatura_ar']), axis=1)

In [117]:
df_clima_renamed['temperatura_ponto_carvalho'] = df_clima_renamed.apply(lambda x: ajust_corrupted_float_value(x['temperatura_ponto_carvalho']), axis=1)

In [118]:
df_clima_renamed.head()
df_clima_renamed.to_csv('./data/checkpoints/df_clima_v2.csv', sep=';', index=False)

In [119]:
df_clima_renamed.head()

,data_medicao,hora_medicao,data-hora,precipitacao_total,pressao_atmosferica,radiacao_global,temperatura_ar,temperatura_ponto_carvalho,umidade_relativa_ar,vento_direcao,velocidade_vento
0,2012-01-01,0,2012-01-01 00:00:00,0.0,938.7,-3.496,22.6,20.4,88.0,41.0,2.1
1,2012-01-01,1,2012-01-01 01:00:00,0.0,938.9,-3.517,21.9,20.0,89.0,73.0,0.3
2,2012-01-01,2,2012-01-01 02:00:00,0.0,938.9,-3.358,22.3,20.4,89.0,249.0,0.5
3,2012-01-01,3,2012-01-01 03:00:00,0.0,938.4,-3.177,22.5,19.6,84.0,246.0,0.3
4,2012-01-01,4,2012-01-01 04:00:00,0.4,938.0,-3.383,21.6,20.4,93.0,329.0,0.1

In [120]:
## Checando os valores
# df_clima_renamed[df_clima_renamed['data-hora'] == '2012-01-01 00:00:00'] 
# df_clima_renamed[df_clima_renamed['data-hora'] == '2012-01-01 01:00:00'] 
df_clima_renamed[df_clima_renamed['data-hora'] == '2021-12-31 22:00:00']

,data_medicao,hora_medicao,data-hora,precipitacao_total,pressao_atmosferica,radiacao_global,temperatura_ar,temperatura_ponto_carvalho,umidade_relativa_ar,vento_direcao,velocidade_vento
87670,2021-12-31,22,2021-12-31 22:00:00,0.0,937.8,3.264,24.0,19.0,74.0,321.0,0.1
175342,2021-12-31,22,2021-12-31 22:00:00,0.0,1006.2,27.450,23.4,23.4,100.0,86.0,0.4
263014,2021-12-31,22,2021-12-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350686,2021-12-31,22,2021-12-31 22:00:00,0.0,923.0,396.683,21.4,19.6,90.0,237.0,0.0
438358,2021-12-31,22,2021-12-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526030,2021-12-31,22,2021-12-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566734,2021-12-31,22,2021-12-31 22:00:00,0.0,948.4,219.664,24.7,19.9,75.0,48.0,1.4
637006,2021-12-31,22,2021-12-31 22:00:00,0.6,878.5,9.571,17.3,15.3,88.0,35.0,5.0

In [121]:
# df_clima_renamed.groupby('data-hora')['precipitacao_total'].mean()
df_clima_renamed.groupby('data-hora').agg({
    'precipitacao_total':'mean',
    'pressao_atmosferica':'mean',
    'radiacao_global':'mean',
    'temperatura_ar':'mean',
    'temperatura_ponto_carvalho':'mean',
    'umidade_relativa_ar':'mean',
    'vento_direcao':'mean',
    'velocidade_vento':'mean',
})

df_clima_renamed.to_csv("./data/checkpoints/df_clima_grouped_mean.csv")

In [124]:
print(df_clima_renamed.shape)
print(df_carga.shape)

(637008, 11)
(89326, 10)

### Testes e experimentos

In [ ]:
num : str = ',4'
num : str = num.replace(',', '')
num : str = str(num).zfill(2)

num : float = float(num)
num : float = num / 10
print(num)

0.4

In [ ]:
num : str = ',4'

if num[0] == ',':
    num : str = '0' + num
    num : str = num.replace(',', '.')
    num : float = float(num)

print(num)

0.4